<div class="row col- md-12" style="margin-top:15px;">
  <div class="col-md-6">
      <div class="form-group">
          <input type="text" class="form-control" placeholder="First name" [(ngModel)]="employee.fname">
      </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Last name" [(ngModel)]="employee.lname">
      </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
          <input type="text" class="form-control" placeholder="DOB" [(ngModel)]="employee.dob">
      </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Phone" [(ngModel)]="employee.phone">
      </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
          <input type="text" class="form-control" placeholder="City" [(ngModel)]="employee.city">
      </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Street" [(ngModel)]="employee.street">
      </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Number" [(ngModel)]="employee.number">
      </div>
  </div>
  <div class="col-md-6"></div>
  <div class="col-md-12">
      <div class="form-group">
          <input type="button" class="btn btn-primary col-md-2" value="Save" (click)="save()">
      </div>
  </div>
</div>
